{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Créer une nouvelle disponibilité</h1>
        {{ form_start(form) }}
        {{ form_row(form.debut) }}
        {{ form_row(form.fin) }}
        {{ form_row(form.submit, {'label': 'Créer'}) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
