{% extends 'base.html.twig' %}

{%  block title %}gestion semaine d'entreprise{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; }
        .example-wrapper { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1>Liste des semaines d'entreprise</h1>
        {% if is_granted('ROLE_ADMIN') %}
            <div class="text-center mt-3">
                <a href="{{ path('nouvelle_semaine_entreprise') }}" class="btn btn-primary">Créer une semaine d'entreprise</a>
            </div>
        {% endif %}

        <table>
            <thead>
            <tr>
                <th>Titre</th>
                <th>Début</th>
                <th>Fin</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th>Supprimer</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for evenement in evenements %}
                <tr>
                    <td>{{ evenement.titre }}</td>
                    <td>{{ evenement.debut|date('d-m-Y') }}</td>
                    <td>{{ evenement.fin.modify('-1 day')|date('d-m-Y') }}</td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td><a href="{{ path('semaine_entreprise_supprimer', {'id': evenement.getId()}) }}">Supprimer</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{%  endblock %}
